@import "../abstracts/mixins";
@import "../abstracts/variables";

.container-progress-bar {
  &__wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
  }

  &__filler {
    @include gradient(left, $gradient-list);
    @include animation(200%, 10s);
  }
}
