.forms-wrapper {
  background-color: color(lightGray);
  padding: 2rem;
  border: 0.1rem solid color(slate);
  border-radius: 0.3rem;
  width: 50rem;

  @include response(md) {
    max-width: 90%;
  }

  @include response(xxs) {
    padding: 0;
  }

  .show-btns-wrapper {
    display: flex;
    padding: 1rem;
  }
  .show-form-btn {
    flex: 0 1 50%;
    background-color: color(darkGray);
    font-size: 1.5rem;
    color: color(white);
    padding: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
    border: 0.1rem solid color(lightGray);
    cursor: pointer;

    @include response(md) {
      font-size: 1.2rem;
    }
  }

  .form-heading {
    font-size: 2rem;
    color: color(orange);
    text-transform: uppercase;
    padding: 1rem 0 0 0.2rem;
  }

  form {
    max-width: 50rem;
    padding: 1rem;

    input:not(.form-btn) {
      background-color: color(white);
      color: #777;
      padding: 1.3rem;
      margin: 0.3rem 0;
      border: 0.2rem solid color(lightGray);
      box-sizing: border-box;
      width: 100%;
      outline: none;

      @include response(xxl) {
        max-width: 100%;
      }
    }
  }

  .fullname-inputs-wrapper {
    display: flex;
    @include response(xxl) {
      flex-wrap: wrap;
    }
    input {
      width: 50%;
    }
  }
  .form-input {
    width: 100%;
  }
  .form-btn {
    width: 35%;
    background-color: color(orange);
    color: color(white);
    letter-spacing: 0.3rem;
    padding: 1rem;
    border: none;
    margin-top: 0.5rem;
    cursor: pointer;

    @include response(md) {
      font-size: 1.2rem;
    }

    @include response(xxs) {
      width: 100%;
    }
  }
  .login-form {
    display: none;
  }

  .show-signup-form {
    color: #888;
    background-color: lighten(color(darkGray), 38%);
    pointer-events: none;
  }

  #show-form:checked ~ .show-btns-wrapper .show-login-form {
    color: #888;
    background-color: lighten(color(darkGray), 38%);
    pointer-events: none;
  }
  #show-form:checked ~ .show-btns-wrapper .show-signup-form {
    color: color(white);
    background-color: color(darkGray);
    pointer-events: initial;
  }
  #show-form:checked ~ .signup-form {
    display: none;
  }

  #show-form:checked ~ .login-form {
    display: block;
  }
  #show-hide-forms:checked ~ .forms-wrapper {
    display: block;
  }

  #show-hide-form:checked ~ .container {
    pointer-events: none;
    opacity: 0.6;
  }

  .first-nav-link label {
    cursor: pointer;
  }
}
